body{
    margin:0;
    background:#0f0f0f;
    color:white;
    font-family:Arial;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.hero h1{
    font-size:70px;
}

.btn{
    background:#0077ff;
    padding:15px 25px;
    border-radius:10px;
    color:white;
    text-decoration:none;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}

.card{
    background:#1d1d1d;
    border-radius:15px;
    overflow:hidden;
}
